
@import "normalize.css";
@import "base/_global.css";
@import "base/_mixins";


.topic {
    background-color: #e9e6e6;
    padding-left: 20px;
    margin: 15px;
    max-width: 29%;
    height: 500px;
    overflow: auto;
    float: left;
    border: 2px solid #e9e6e6;
    border-radius: 5%;
    box-shadow: 8px 8px 8px #999;
}

.errorCorner {
    margin-left: 15px;
    color: #cc0000;
}

.colorBlue {
    color: #407caa;
}

.screenshots {
    max-width: 100%;
}

/***************
 Mobile
***************/

@media screen and (max-width: 1278px) {
    .topic {
        background-color: #e9e6e6;
        padding: 5px;
        margin: 15px;
        max-width: 45%;
        height: 500px;
        overflow: auto;
        float: left;
        border: 2px solid #e9e6e6;
        border-radius: 5%;
    }
}

@media screen and (max-width: 900px) {
    .topic {
        max-width: 90%;
    }
}